* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  background-color: seashell;
  line-height: 1.3;
}

h1 {
  small {
    display: block;
    font-size: 1rem;
    font-weight: 400;
  }

  font-size: 1.5rem;
}

.container {
  max-width: 800px;
  margin: auto;
}

button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;

  &:last-of-type {
    color: white;
    background-color: midnightblue;
  }
}

details {
  summary {
    cursor: pointer;
    padding: 1rem 0;
  }

  &:open>summary {
    font-weight: 800;
  }
}

form {
  section {
    padding-top: 1rem;
  }

  label {
    display: block;
    margin-top: 1rem;
  }

  fieldset {
    margin-top: 1rem;
    border: 0.075rem solid gainsboro;
    border-radius: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
  }

  input,
  select {
    font-size: 1rem;
    padding: 0.5rem;
    max-width: 100%;
  }
}
